{% layout 'layout.liquid'%}
{% block content %}
<div class="card text-center">
    {% for park in parks %}
    <div class="card-header">
        {{ park.fullName }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Park Description:</h5>
      <p class="card-text">{{ park.description }}</p>
      <a href="/parks/{{ park.parkCode }}" class="btn btn-success">View {{ park.fullName }}</a>
    </div>
    <div class="card-footer text-muted">
    </div>
    {% endfor %}
  </div>
{% endblock %}

<!-- <div id="index-page-div">
    <h2 class="display-6">All Parks</h2>
    <div class="row">
        {% for park in parks %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ park.fullName }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Description: {{ park.description }}
                </p>
                <a href="/parks/{{ park.parkCode }}" class="btn btn-info">
                    View {{ park.fullName }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->