{% layout 'layout.liquid'%}
{% block content %}
<h2 class="display-6" id="my-parks-head">My Parks</h2>
<!--Here is where I am making the favorite parks render-->
    {% for park in parks %}
        <div class="card">
            <h5 class="card-header">{{ park.fullName }}</h5>
                <div class="card-body">
            <h5 class="card-title">Description:</h5>
                <p class="card-text">{{ park.description }}</p>
        <div class="col-md-6 justify-content-center">
<!--Here is where I am calling on the visits-->
<!--Need to add to the park model -->
<!--Create a put route to add a visit -->
            {% assign visitCounter = park.visit %}
            {% assign visitDecrement = park.visit | minus: 1 %}
        <h4>Visits:{% if visitCounter <= 0 %} Need to plan a visit to this park!
                {% elsif visitCounter > 0 %}
                    {{ park.visit }}
                {% elsif visitDecrement >= 1 %}
                    {{ park.visit | minus: 1 }}
                {% else %}
            {% endif %}
            </h4>
<!--Here is where I am trying to implement the VISIT button that will increment-->
        <form action="/parks/{{ park.id }}?_method=PUT" method="POST">
            <input type="submit" value="ADD VISIT" class="btn btn-primary">
        </form>
<!--Here is where I am trying to implement DELETE VISIT button that will decrement just in case the user adds visit by accident-->   
        <!-- <br><form action="/parks/{{ park.id }}?_method=PUT" method="POST">
             <input type="submit" value="DELETE VISIT" class="btn btn-danger">
        </form> -->
<!--Here is where I am trying to post a COMMENT to a specific user's favorite park-->
     <br><form action="/comments/{{ park.id }}" method="POST">
            <fieldset class="form-label">
                <legend></legend>
                <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="enter comment here...">
            </fieldset>
                    <input type="submit" class="btn btn-success" value="ADD COMMENT">
        </form>
    </div>

<!--Here is where I am trying to push the comments into body of the saved parks index-->  
        {% if park.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- here we need to loop over the comments -->
            <!-- for every comment render a comment.liquid block -->
            {% for comment in park.comments %}
                <br>{% render '../comment.liquid', comment: comment, username: username, park: park %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<!--Here is where I am trying to implement the Delete a specific saved park button-->
<br><form action="/parks/{{ park._id }}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE PARK" class="btn btn-danger">
</form> <br>
    </div>


    {% endfor %} 
  </div>
  
{% endblock %}

