{% layout 'layout.liquid'%}
{% block content %}
<h2 class="display-6" id="my-parks-head">My Parks</h2>
<!--Here is where I am making the favorite parks render-->
    {% for park in parks %}
        <div class="card">
            <h5 class="card-header">{{ park.fullName }}</h5>
                <div class="card-body">
            <h5 class="card-title">Description:</h5>
                <p class="card-text">{{ park.description }}</p>
        <div class="col-md-6 justify-content-center">
<!--Here is where I am calling on the visits-->
            {% assign visit = 0 %}
                {% for visit in visits %}
                    {% assign visit = visit | plus: 1 %}
    {% endfor %}
            Visits: {{ visit }}
<!--Here is where I am trying to post a comment to a specific user's favorite park-->
        <form action="/comments/{{ park.id }}" method="POST">
            <fieldset class="form-label">
                <legend></legend>
                <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="enter comment here...">
            </fieldset>
                    <input type="submit" class="btn btn-success" value="ADD COMMENT">
        </form>
    </div>
<!--Here is where I am trying to implement the Visit button that will increment-->
        <br><form action="/parks/{{ park._id }}/visit?_method=PUT" method="POST">
            <input type="submit" value="ADD VISIT" class="btn btn-primary">
        </form>
<!--Here is where I am trying to implement the Delete a specific saved park button-->
        <br><form action="/parks/{{ park._id }}?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" class="btn btn-danger">
        </form> 
<!--Here is where I am trying to push the comments into body of the saved parks index-->  
        {% if park.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- here we need to loop over the comments -->
            <!-- for every comment render a comment.liquid block -->
            {% for comment in park.comments %}
                {% render '../comment.liquid', comment: comment, username: username, park: park %}
            {% endfor %}
        </div>
    </div>
{% endif %}
    </div>
    {% endfor %} 
  </div>
  
{% endblock %}
