{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-md" id="show-page-div">
            <img src="{{ park.images[0].url }}" class="card-img-top">
            <div class="card-body">
              <h1 class="card-title">{{ park.fullName }}</h1>
             </div>
             <div class ="table-responsive-md"></div>
             Park Activities:<table class="table"></table>{% for activity in park.activities %}
             <tr>{{ activity.name }}</tr>
             {% endfor %}
             </table>
           </div>
            <div class="col-md-6">
                <form action="/comments/{{park.id}}" method="POST">
                    <fieldset>
                        <legend>Add Comment</legend>
                        <label class="form-label">Comment: </label>
                        <input type="text" class="form-control" name="note" placeholder="enter comment here...">
                    </fieldset>
                    <input type="hidden" name="fullName" value="{{ park.fullName }}">
                    <input type="hidden" name="npsId" value="{{ park.id }}">
                    <input type="submit" class="btn btn-success" value="Add Comment">
                </form>
            </div>
            {% if park.comments.length > 0 %}
                <div class="container-sm justify-content-center">
                    <div class="col-md-8 col-lg-6">
                        <!-- here we need to loop over the comments -->
                        <!-- for every comment render a comment.liquid block -->
                        {% for comment in park.comments %}
                            {% render '../comment.liquid', comment: comment, userId: userId, park: park %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if park.owner == userId %}
            <div class="btn-group">
                <form action="/parks" class="btn btn-primary" method="POST">
                    <input type="hidden" name="name" value="{{ park.fullName }}">
                    <input type="submit" value="Add to Favorite Parks">
                    </form>
            </div>
            {% endif %}
        </article>


</div>
{% endblock %}


<!-- Loops through all of the images
            <div class="card mb-3">
                {% for images in park.images %}
                  <p class="card-text"><img src="{{ images.url }}"></p> 
                  {% endfor %} -->