{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-md" id="show-page-div">
            <img src="{{ park.images[0].url }}" class="card-img-top">
            <div class="card-body">
              <h1 class="card-title">{{ park.fullName }}</h1>
             </div>
             <div class ="table-responsive-md"></div>
             Park Activities:<table class="table"></table>{% for activity in park.activities %}
             <tr>{{ activity.name }}</tr>
             {% endfor %}
             </table>
           </div>

            <!-- here is my hidden form action for adding parks to favorite parks page -->
            {% if park.owner == userId %}
           <br><div class="btn-group">
                <form action="/parks" class="btn btn-primary" method="POST">
                    <input type="hidden" name="name" value="{{ park.fullName }}">
                    <input type="hidden" name="image" value="{{ park.images[0].url }}">
                    <input type="hidden" name="parkId" value="{{ parkId }}">
                    <input type="hidden" name="description" value="{{ park.description }}">
                    <input type="submit" class="btn btn-primary" value="Add to Favorite Parks">
                    </form>
            </div>
            {% endif %}
        </article>


</div>
{% endblock %}


<!-- Loops through all of the images
            <div class="card mb-3">
                {% for images in park.images %}
                  <p class="card-text"><img src="{{ images.url }}"></p> 
                  {% endfor %} -->