{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-md">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    {% for images in park.images %}
                      <img src="{{ park.images[0].url }}" class="d-block w-100">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ park.images[1].url }}" class="d-block w-100">
                </div>
                {% endfor %}
              </div>
            <div class="card-body">
              <h5 class="card-title">Park Name: {{ park.fullName }}</h5>
              Park Activities:{% for activity in park.activities %}
              <p class="card-text">{{ activity.name }}</p> 
              {% endfor %}
              <!-- <p class="card-text"><small class="text-muted">Entrance Fees: {{ park.entranceFees }}</small></p> -->
            </div>
            

</div>
{% endblock %}