{% layout 'layout.liquid' %}
{% block content %}

    <div class="container-md" id="show-page-div">
            
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ park.images[0].url }}" class="d-block w-100" alt="Image Not Available">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ park.images[1].url }}" class="d-block w-100" alt="Image Not Available">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ park.images[2].url }}" class="d-block w-100" alt="Image Not Available">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ park.images[3].url }}" class="d-block w-100" alt="Image Not Available">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ park.images[4].url }}" class="d-block w-100" alt="Image Not Available">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <div class="card-body">
              <h1 class="card-title">{{ park.fullName }}</h1>
             </div>
             <div class ="table-responsive-md"></div>
             Park Activities:<table class="table"></table>{% for activity in park.activities %}
             <tr>{{ activity.name }}</tr>
             {% endfor %}
             </table>
           </div>

            <!-- here is my hidden form action for adding parks to favorite parks page -->
            {% if park.owner == userId %}
           <br><div class="d-grid gap-2 col-6 mx-auto">
                <form action="/parks" class="btn btn-primary" method="POST">
                    <input type="hidden" name="name" value="{{ park.fullName }}">
                    <input type="hidden" name="image" value="{{ park.images[0].url }}">
                    <input type="hidden" name="parkId" value="{{ parkId }}">
                    <input type="hidden" name="description" value="{{ park.description }}">
                    <input type="submit" class="btn btn-primary" value="Add to Favorite Parks">
                    </form>
            </div>
            {% endif %}
        </article>


</div>
{% endblock %}